{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Base.css' %}">
    <title>{% block title %}Drive{% endblock %}</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="{% url 'Home' %}" >Home</a>
        {% if loged_in %}
        <a href="{% url 'Profile' %}">Profile</a>

       <form method="POST" action="{% url 'Search' %}" style="float:right; display:flex; align-items:center; gap:5px;">
    {% csrf_token %}
    <input type="search" name="query" placeholder="Search for a File..." 
           style="padding:5px; border-radius:4px; border:1px solid #ccc;">
    <button type="submit" style="padding:5px 10px;">Search</button>
</form>
      {% if profile %}
       <img src="{{ profile.img.url }}" alt="Profile" width="32" height="32" class="profile">
      {% else %}
      <img src="https://static.vecteezy.com/system/resources/previews/021/548/095/original/default-profile-picture-avatar-user-avatar-icon-person-icon-head-icon-profile-picture-icons-default-anonymous-user-male-and-female-businessman-photo-placeholder-social-network-avatar-portrait-free-vector.jpg" 
      alt="Profile" width="32" height="32" class="profile">
      {% endif %}

        <a href="{% url 'logout' %}" style="float: right;">Logout</a>
        {% else %}
        <a href="{% url 'Login' %}" >Login</a>
        {% endif %}
      </div> 
  
    {% block body %}{% endblock %}
  
</body>
</html>