{% extends 'Drive/base.html' %}
{% load static %}
{% block head %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{% endblock %}

{% block body %}
<script>
 $(document).ready(function() {
    $("#userex").fadeOut(6000);
    // Fades out the element with ID 'myDiv' over 3 seconds
    $("#useremailex").fadeOut(6000);
    $("#userpass").fadeOut(6000); 
});
</script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto">
          <div id="second">
              <div class="myform form ">
                    <div class="logo mb-3">
                       <div class="col-md-12 text-center">
                          <h1 >Signup</h1>
                       </div>
                    </div>
                    <form action="{% url 'reg' %}" method="post" name="registration"> {% csrf_token %}
                       <div class="form-group">
                          <label for="exampleInputEmail1">Name</label>
                          <input type="text"  name="name" class="form-control" id="firstname" aria-describedby="emailHelp" placeholder="Enter Username">

                          <div id="userex">
                          {% if messages %}
                             {% for message in messages %}
                             {% if message.tags == "User_name_exsits" %}
                             <p >{{message}}</p>
                               {% endif %}
                             {% endfor %}
                          {% endif %}
                        </div>

                       </div>
                       <div class="form-group">
                          <label for="exampleInputEmail1">Email address</label>
                          <input type="email" name="email"  class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                        <div id="useremailex">
                          {% if messages %}
                            {% for message in messages %}
                             {% if message.tags == "User_Email_exsits" %}
                               <p id="useremailex">{{message}}</p>
                              {% endif %}
                            {% endfor %}
                          {% endif %}
                        </div>
                       </div>
                       <div class="form-group">
                          <label for="exampleInputEmail1">Password</label>
                          <input type="password" name="password" id="password"  class="form-control" aria-describedby="emailHelp" placeholder="Enter Password">
                        <div id="userpass">
                          {% if messages %}
                            {% for message in messages %}
                             {% if  message.tags == "User_Password" %}
                               <p >{{message}}</p>
                              {% endif %}
                            {% endfor %}
                          {% endif %}
                        </div>
                       </div>
                       <div class="col-md-12 text-center mb-3">
                          <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Submit</button>
                       </div>
                       <div class="col-md-12 ">
                          <div class="form-group">
                             <p class="text-center"><a href="{% url 'Login' %}" id="signin">Already have an account?</a></p>
                          </div>
                       </div>
                        </div>
                    </form>
                 </div>
        </div>
    </div>
  </div>   
     
{% endblock %}